:root {
	--primary-color: #9b59b6;
	--secondary-color-light: #ecf0f1;
	--secondary-color-dark: #bdc3c7;

	--primary-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
	rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

	--main-font-stack: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--main-font-stack);
	background-color: var(--primary-color);
}

.page-wrapper {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game {
	max-width: 600px;
	padding: 1rem;
	margin: 1rem;
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 1fr));
	gap: 1rem;
	background-color: var(--secondary-color-light);
	border: 1px solid var(--secondary-color-dark);
	border-radius: 5px;
	box-shadow: var(--primary-shadow);
}

.game__card {
	border: 1px solid var(--secondary-color-dark);
	border-radius: 5px;
}

.game__card-image {
	width: 100%;
	height: auto;
	padding: 1rem;
	display: block;
	box-shadow: var(--primary-shadow);
}