:root {
	--primary-color: #9b59b6;
	--secondary-color-light: #ecf0f1;
	--secondary-color-dark: #bdc3c7;

	--main-font-stack: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--main-font-stack);
}